// body {
//  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica !important;
// }

// * {
//   font-family: "Ringside Narrow SSm" !important;
// }

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,700|IBM+Plex+Sans:400');
@import 'mastodon-light/variables';

$font-sans-serif: 'IBM Plex Sans';
$font-display: 'IBM Plex Sans';
$font-monospace: 'IBM Plex Mono';

@import 'application';
@import 'mastodon-light/diff';
